html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/*HOME PAGE STYLES*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px, 10%; */
    padding: 0.6rem 2rem;
}

/*NAV BAR STYLES*/
.navbar ul {
    list-style: none;
    background-color: rgba(13, 90, 13, 0.902);
    /*temp bg to display nav text*/
}

.navbar ul li {
    /*Styling the individual nav items*/
    list-style: none;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}

.navbar li a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 14px;
}

.navbar li a {
    /*animation to the nav items*/
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    /*Highlights the nav items in green color*/
    color: darkolivegreen;
}


/*STYLING THE MAIN CONTENT*/
.home {
    /*BACKGROUND IMG STYLE FOR HOME*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/home_bg.jpeg) no-repeat; 
    background-color: #FFF;
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
}

.home h2{
    font-family: 'Lato', sans-serif;
    font-size: 6.5rem;
    text-align: center;
    color: #FFF;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    justify-content: center;
    margin-top: 20rem;
}

 .para p{ 
    text-align: center;
    width: 60%;
    padding: 10rem 30rem;
    font-size: 1.8rem;
} 

body {
    /*trying out some font styles*/
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*BANNER  STYLE (THING THAT COMES AFTER THE HOME CONTENT)*/
.banner {
    background-image: url(images/banner.jpeg);
    background-size: cover;
    padding: 1rem;
    position: relative;
    top: 84rem;
    text-align: center;
    color: black;
    margin: 20px;
    width: 100%;
    background-position: 30%;
}

.banner h1{
    color: #FFF;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 3.8rem;
}

.banner a {
    display: inline-block;
    background-color: limegreen;
    color: #FFF;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 6px;
}
.banner p{
    font-size: 2rem;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*HOME PAGE STYLES END HERE*/

/*ABOUT PAGE STYLES*/
/* .about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/about_bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
} */

/* .about .content {
    font-size: 1.9rem;
    color: black;
    padding: 6.6rem 3rem;
    width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.about {
    background: url(images/about_bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
}

.about .content h2{
    text-align: center;
    padding-top: 4rem;
}
.about .content p{
    width: 50%;
    text-align: center;
    padding: 8rem 40rem;
    font-size: 1.8rem;
}

/*ABOUT PAGE STYLES END HERE*/

/*Styles for the PRODUCT PAGE*/
.product {
    /*BACKGROUND IMG STYLE FOR PRODUCT*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/products_bg.jpeg) no-repeat;
    background-color: #FFF;
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
}

.product h2 {
    align-self: center;
    font-family: 'Lato', sans-serif;
}

.product-container {
    background-color: #FFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: right;
    padding: 2rem;
    width: 80%;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2rem;
    justify-content: space-around;
}

.product-container img {
    width: 25%;
    max-width: 25%;
    height: auto;
    margin-right: 2rem;
}

.product-description {
    /*setting the text on the right side*/
    flex: 2;
}

.product-description p {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

/*Styles for the PRODUCT PAGE END HERE*/

/*HISTORY PAGE styles*/
.history {
    border-top: 2px solid rgba(13, 90, 13, 0.902);
    border-bottom: 2px solid rgba(13, 90, 13, 0.902);
    padding: 2rem 25rem;
}

.history h2 {
    align-self: center;
    font-family: 'Lato', sans-serif;
}

.history p {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

.history .gallery {
    margin-top: 4rem;
}

.history .gallery h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.history .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.history .gallery-container img {
    margin-bottom: 20px;
    width: 45%;
    padding: 1rem;
}

/*HISTORY PAGE syles END HERE*/

/*BUSINESSES PAGE styles*/
.businesses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem;
}

.businesses .description h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.businesses .description {
    font-family: 'Lato', sans-serif;
    padding: 2rem 25rem;
    font-size: 1.8rem;
}

.businesses .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    padding: 4rem;
    text-align: center;
    width: 40%;
}

.businesses .card img {
    height: 20%;
    width: 20%;
    margin-bottom: 2rem;
}

.businesses .card a {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 1rem;
}

.card a:hover {
    background-color: #666;
}

/*BUSINESSES PAGE styles END HERE*/

/* For screens smaller than 768px */
@media (max-width: 767px) {

    html {
        font-size: 50%;
    }

    header {
        padding: 0.6rem 1rem;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(13, 90, 13, 0.902);
    }

    .navbar ul li {
        display: block;
        margin-bottom: 10px;
    }

    .home h2{
        font-size: 4.5rem;
        margin-top: 15rem;
    }

    .para p{ 
        padding: 5rem 2rem;
        font-size: 1.4rem;
    } 

    .banner {
        top: 30rem;
    }

    .about .content p{
        padding: 5rem 2rem;
        font-size: 1.4rem;
    }

    .product-container {
        width: 90%;
    }
}
